{{>layout/header}}

<form action="/notice/writeOk" method="post">
    <input type="text" name="title">
    <textarea name="content"></textarea>
    <input type="submit" value="작성">
    <button><a href="notice/notice">게시판으로 돌아가기</a></button>
</form>

{{>layout/footer}}