{{>layout/header}}

<table class="table">
    <thead>
    <tr>
        <th>Idx</th>
        <th>Title</th>
        <th>Content</th>
    </tr>
    </thead>
    <tbody>
    {{#notice}}
        <tr>
            <td>{{idx}}</td>
            <td>{{title}}</td>
            <td>{{content}}</td>
        </tr>
    {{/notice}}
    </tbody>
</table>
<button><a href="">게시판으로 이동하기</a></button>
<button><a href="/notice/{{notice.idx}}/edit">게시글 수정하기</a></button>
<button><a href="/notice/{{notice.idx}}/delete">게시글 삭제하기</a></button>

{{>layout/footer}}